        .banner {
            padding: 1.5rem;
            text-align: center;
            border-radius: 4px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }