
.coming-soon {
  padding: var(--spacing-thin) var(--spacing-thinnest);
}

.coming-soon h2 {
  font-family: var(--font-titre);
  font-size: var(--font-taller);
  margin-bottom: var(--spacing-thinner);
  color: var(--couleur-foncee-texte);
}

.coming-soon p {
  margin-bottom: var(--spacing-micro);
  font-size: var(--font-current);
}

@media (max-width: 768px) {
  .coming-soon {
    padding: var(--spacing-thinnest) var(--spacing-micro);
  }
  
  .coming-soon h2 {
    font-size: var(--font-tall);
  }


}