
.contact {
    padding: var(--spacing-broad);
}

.contact h2 {
    font-size: var(--font-tall);
    margin-bottom: var(--spacing-thin);
}

.contact p {
    margin-bottom: var(--spacing-thin);
}
.contact a {
    color: var(--couleur--bleu-hover);
    text-decoration: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-micro);
}

.contact-form label {
    font-weight: bold;
    margin: var(--spacing-micro) 0 var(--spacing-pico)  0;
}

.contact-form input,
.contact-form textarea {
    padding: var(--spacing-micro);
    border: var(--border-slim) solid var(--couleur-foncee-texte);
    border-radius: var(--radius-sharper);
    font-size: var(--font-current);
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--couleur-focus);
    outline: none;
}


.contact-form button:hover {
    background-color: var(--couleur--bleu-hover);
}
