header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--couleur-foncee-texte);
            padding: var(--spacing-thinnest) var(--spacing-broad);
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .logo-img {
            width: 50px;
            height: 50px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1.5rem;
        }

        .logo-text {
            display: flex;
            flex-direction: column;
            line-height: 1.2;
            
        }

        .logo-text strong {
            font-weight: 600;
        }

        nav ul {
            display: flex;
            list-style: none;
            gap: 2rem;
        }

        nav a {
            font-weight: 500;
            text-decoration: none;
            color: var(--couleur-foncee-texte);
        }

        nav a:hover {
            color: var(--couleur--bleu-hover);
        }
