.hero-pages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--spacing-broad) var(--spacing-broad) 0 var(--spacing-broad);
  margin: 1rem 0;
}

.hero-pages-img {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  /* flex: 1; */
}

.hero-pages-img img {
    max-width: 300px;
  object-fit: cover;
  border-radius: 50% 50% 0 0;
}

.hero-pages-img p:first-of-type {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}

.hero-pages-img p:last-of-type {
  margin-top: 0;
  font-size: 1rem;
  color: var(--couleur-texte);
  font-weight: 500;
  text-align: left;
}

/* Partie texte */
.hero-pages-text {
  flex: 2;
  padding: 2rem;
  position: relative;
  color: var(--couleur-texte);
}

.hero-pages-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--couleur-principale);
  position: relative;
  padding-left: 1.5rem;
  margin-left: -1.5rem;
}

.hero-pages-text small {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--couleur-foncee-texte);
  font-weight: 500;
}

.hero-pages-text p {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--couleur-texte);
  padding: 0.5rem 0;
}
@media (min-width: 768px) {
  .hero-pages {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--spacing-thinner);
  }
}