.hero {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            text-align: left;
            padding: 0 var(--spacing-broadest);
            gap: 2rem;
            border-top: 5px solid var(--couleur-principale);
            
        }

        .hero-text h1 {
            font-size: 4rem;
            line-height: 1.1;
            margin-bottom: 1rem;
        }

        .hero-text p {
            font-size: 1.2rem;
            color: #555;
            margin-top: 1rem;
        }

        .hero-text small {
            display: block;
            margin-bottom: 0.5rem;
            color: #555;
        }

        .hero-image {
            text-align: center;
        }

        @media (max-width: 768px) {
            .hero {
        grid-template-columns: 1fr;
        text-align: left;
        padding: var(--spacing-thin);
        width: 100%;
        overflow-x: hidden;
            }
            
            .hero-text {
                order: 0;
                width: 100%;
            }
            
            .hero-image {
                order: 1;
                width: 100%;
        max-width: 90%;
        margin: 0 auto;
            }
            
            .hero-text h1 {
                font-size: 3.5rem;
                word-wrap: break-word;
        hyphens: auto;
            }
            .hero-text p {
        font-size: 1.7rem;
        width: 100%;
    }
            .hero-text small {
                 font-size: 1.4rem;
                margin-bottom: 0.7rem;
            }
        }