.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-thin);
  gap: var(--spacing-thinnest); 
}

.social-btn {
  background-color: var(--couleur-accent);
  color: var(--couleur-foncee-texte);
  padding: var(--spacing-micro) var(--spacing-thin);
  border-radius: var(--radius-sharp);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  transition: all 0.3s ease;
}

.social-btn:hover {
  background-color: var(--couleur-accent-hover);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(52, 51, 79, 0.1);
}

.social-btn:active {
  transform: translateY(0);
}

.socials i {
  margin-right: var(--spacing-nano);
  font-size: var(--font-current);
}